{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

<div>

    <h1>Liste des étudiants</h1>
    <ul>
        {% for nom, student in students %}
            <li>{{ nom }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
